on:
  - push
  - pull_request

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0

      - name: Install dependencies
        run: npm install

      - name: Check
        run: npm run check

      - name: Build
        run: npm run build
