on:
  - push
  - pull_request

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14.18.1

      - name: Install dependencies
        run: npm install

      - name: Check
        run: npm run check

      - name: Build
        run: npm run build
