on:
  - push
  - pull_request

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - name: Install dependencies
        run: npm install

      - name: Check
        run: npm run check

      - name: Build
        run: npm run build
